@media (max-width: 1439px) {
  /*  max-width: 1439px */
  /* Blog Band */
  .blogger_band_1 .post_layout_band .post_featured,
  .sidebar_show .post_layout_band .post_featured {
    -ms-flex-preferred-size: 200px;
    flex-basis: 200px;
    height: 200px; } }

@media (max-width: 1279px) {
  /* max-width: 1279px */
  /* Blog layout: Band */
  .post_layout_band .post_header .post_price {
    font-size: 2em;
    line-height: 1.5em; } }

@media (max-width: 1023px) {
  /* max-width: 1023px */
  /* Blog layout: Band */
  .post_layout_band .post_header .post_price {
    font-size: 1.75em;
    line-height: 1.5em; } }

@media (min-width: 768px) and (max-width: 1023px) {
  /* min-width: 768px and max-width: 1023px */
  /* Blog Band */
  .blogger_band_1 .post_layout_band {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .blogger_band_1 .post_layout_band:not(:last-child):before {
    display: none; }
  .blogger_band_1 .post_layout_band:not(:last-child) {
    padding-bottom: 0; }
  .blogger_band_1 .post_layout_band .post_date_wrap {
    padding: 15px 0 11px;
    margin: 0;
    display: block;
    -ms-flex-preferred-size: 1px;
    flex-basis: 1px; }
  .blogger_band_1 .post_layout_band .post_featured + .post_content_wrap {
    padding: 0;
    margin-top: 20px; }
  body:not(.blog):not(.archive):not(.search) .blogger_band_1 .post_layout_band.post_format_image {
    padding-left: 0; }
    body:not(.blog):not(.archive):not(.search) .blogger_band_1 .post_layout_band.post_format_image .post_date_wrap {
      display: block; }
  .blogger_band_1 .post_layout_band.post_format_image {
    padding-left: 0; } }

@media (min-width: 601px) and (max-width: 1023px) {
  /* min-width: 601px and max-width: 1023px */
  /* Blog Band */
  .post_layout_band .post_featured {
    -ms-flex-preferred-size: 200px;
    flex-basis: 200px;
    height: 200px; } }

@media (max-width: 767px) {
  /* max-width: 767px */
  /* Blog Band */
  .post_layout_band .post_date_wrap {
    -ms-flex-preferred-size: 61px;
    flex-basis: 61px; }
  .post_layout_band:not(:last-child):before {
    left: 90px; }
  /*  Format image */
  body:not(.blog):not(.archive):not(.search) .post_layout_band.post_format_image {
    padding-left: 90px; } }

@media (max-width: 600px) {
  /* max-width: 600px */
  /* Blog Band */
  .post_layout_band {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .post_layout_band:not(:last-child):before {
      display: none; }
    .post_layout_band:not(.sticky):not(:last-child) {
      padding-bottom: 0; }
    .post_layout_band .post_date_wrap {
      padding: 15px 0 11px;
      margin: 0;
      display: block;
      -ms-flex-preferred-size: 1px;
      flex-basis: 1px; }
    .post_layout_band .post_featured {
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
      height: auto; }
    .post_layout_band .post_featured + .post_content_wrap {
      padding: 0;
      margin-top: 20px; }
  .blogger_band_1 .post_layout_band .post_featured,
  .sidebar_show .post_layout_band .post_featured {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    height: auto; }
  body:not(.blog):not(.archive):not(.search) .post_layout_band.post_format_image {
    padding-left: 0; }
    body:not(.blog):not(.archive):not(.search) .post_layout_band.post_format_image .post_date_wrap {
      display: block; } }

@media (max-width: 479px) {
  /* max-width: 479px */
  /* Blog Band */
  .post_layout_band.sticky:not(.post_layout_custom) {
    padding: 22px 22px 20px; } }
