/* Blog layout: Masonry
------------------------- */
.masonry_wrap {
  position: relative;
  margin-right: calc( -1 * var(--theme-var-grid_gap )); }

.masonry_wrap .masonry_item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0 var(--theme-var-grid_gap) var(--theme-var-grid_gap) 0;
  margin-bottom: 0;
  width: 50%;
  border-width: 0;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.masonry_wrap .masonry_item-1_1 {
  width: 100%; }

.masonry_wrap .masonry_item-1_2 {
  width: 50%; }

.masonry_wrap .masonry_item-1_3 {
  width: 33.3333%; }

.masonry_wrap .masonry_item-1_4 {
  width: 25%; }
