/* Blog layout: Portfolio
------------------------- */
.post_layout_portfolio_4 .post_title {
  font-size: 1.25em; }

.portfolio-masonry_wrap.masonry_wrap {
  margin-bottom: -30px; }
  .portfolio-masonry_wrap.masonry_wrap .masonry_item {
    padding-bottom: 30px; }

.post_layout_portfolio {
  /* Audio */
  /* Gallery */
  /* Video */
  /* Rating */ }
  .post_layout_portfolio.sticky:not(.post_layout_custom) {
    padding: 22px; }
  .post_layout_portfolio .post_featured {
    margin-bottom: 0; }
  .post_layout_portfolio .post_featured img {
    width: 100%; }
  .post_layout_portfolio .post_featured .mask {
    opacity: 1;
    z-index: 1001; }
  .post_layout_portfolio .post_featured a.icons {
    z-index: 1003; }
  .post_layout_portfolio .post_featured .post_info {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    display: block;
    font-size: inherit;
    margin: 0;
    opacity: 1;
    text-align: left;
    top: auto;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    width: auto;
    z-index: 1004;
    padding: 2.142rem; }
    .post_layout_portfolio .post_featured .post_info .post_title {
      margin: 0; }
    .post_layout_portfolio .post_featured .post_info .post_title,
    .post_layout_portfolio .post_featured .post_info .post_title a {
      color: var(--theme-color-extra_dark) !important; }
    .post_layout_portfolio .post_featured .post_info .post_title + .post_meta {
      margin-top: 8px; }
    .post_layout_portfolio .post_featured .post_info .post_meta a {
      color: var(--theme-color-extra_dark); }
    .post_layout_portfolio .post_featured .post_info .post_meta a:hover {
      color: var(--theme-color-extra_hover); }
    .post_layout_portfolio .post_featured .post_info .post_category {
      margin-bottom: 14px; }
      .post_layout_portfolio .post_featured .post_info .post_category .post_meta {
        margin-top: 0; }
    .post_layout_portfolio .post_featured .post_info .post_category a {
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      background-color: var(--theme-color-extra_bg_color);
      color: var(--theme-color-extra_dark); }
      .post_layout_portfolio .post_featured .post_info .post_category a:not(.trx_addons_extended_taxonomy_parent_bg) {
        padding: 4.5px 15px;
        -webkit-transform: skew(20deg);
        -ms-transform: skew(20deg);
        transform: skew(20deg); }
      .post_layout_portfolio .post_featured .post_info .post_category a .trx_addons_extended_taxonomy_parent_bg {
        padding: 0; }
        .post_layout_portfolio .post_featured .post_info .post_category a .trx_addons_extended_taxonomy_parent_bg .trx_addons_extended_taxonomy {
          padding: 4.5px 15px; }
      .post_layout_portfolio .post_featured .post_info .post_category a samp {
        display: inline-block;
        -webkit-transform: skew(-20deg) !important;
        -ms-transform: skew(-20deg) !important;
        transform: skew(-20deg) !important; }
    .post_layout_portfolio .post_featured .post_info .post_category a:hover {
      color: var(--theme-color-extra_dark);
      background-color: var(--theme-color-extra_hover); }
    .post_layout_portfolio .post_featured .post_info .post_category .post_sponsored_label {
      padding: 4.5px 15px;
      line-height: 1em !important;
      -webkit-transform: skew(20deg);
      -ms-transform: skew(20deg);
      transform: skew(20deg);
      color: var(--theme-color-extra_dark);
      background-color: var(--theme-color-extra_hover); }
      .post_layout_portfolio .post_featured .post_info .post_category .post_sponsored_label samp {
        display: inline-block;
        -webkit-transform: skew(-20deg);
        -ms-transform: skew(-20deg);
        transform: skew(-20deg); }
    .post_layout_portfolio .post_featured .post_info .post_category a.post_sponsored_label:hover {
      background-color: var(--theme-color-extra_bg_color);
      color: var(--theme-color-extra_dark); }
    .post_layout_portfolio .post_featured .post_info .post_author .post_author_name {
      color: var(--theme-color-extra_dark); }
    .post_layout_portfolio .post_featured .post_info .post_author:hover .post_author_name {
      color: var(--theme-color-extra_hover); }
    .post_layout_portfolio .post_featured .post_info .post_meta_categories {
      margin-top: -0.5em !important; }
    .post_layout_portfolio .post_featured .post_info .post_meta_item.post_sponsored,
    .post_layout_portfolio .post_featured .post_info .post_meta_item.post_categories {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    .post_layout_portfolio .post_featured .post_info .post_meta_item.post_sponsored a,
    .post_layout_portfolio .post_featured .post_info .post_meta_item.post_categories a {
      margin-top: 0.5em;
      line-height: 1em; }
  .post_layout_portfolio.post_format_audio .post_featured:after {
    position: absolute;
    z-index: 1;
    top: 29px;
    left: 2.142rem;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    width: 3.715em;
    height: 3.715em;
    line-height: 3.715em;
    text-align: center;
    -webkit-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    background-color: var(--theme-color-extra_dark);
    color: var(--theme-color-extra_bg_color);
    content: '\e9b7';
    display: block;
    font-family: "fontello";
    font-size: 1rem;
    opacity: 1;
    text-align: center;
    z-index: 1002; }
  .post_layout_portfolio.post_format_audio .post_audio {
    display: none;
    background-color: var(--theme-color-alter_bg_color);
    padding: 0.8em; }
  .post_layout_portfolio.post_format_audio .mejs-container {
    min-height: 40px; }
  .post_layout_portfolio.post_format_gallery .post_featured:after {
    position: absolute;
    z-index: 1;
    top: 29px;
    left: 2.142rem;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    width: 2.889em;
    height: 2.889em;
    line-height: 2.889em;
    text-align: center;
    -webkit-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    background-color: var(--theme-color-extra_dark);
    color: var(--theme-color-extra_bg_color);
    content: '\e9b5';
    display: block;
    font-family: "fontello";
    font-size: 1.2857rem;
    opacity: 1;
    text-align: center;
    z-index: 1002; }
  .post_layout_portfolio.post_format_gallery .slider_pagination_wrap,
  .post_layout_portfolio.post_format_gallery .slider_controls_wrap {
    display: none; }
  .post_layout_portfolio.post_format_video .post_featured.with_thumb .post_video_hover {
    position: absolute;
    z-index: 1;
    top: 29px;
    left: 2.142rem;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    z-index: 1005;
    width: 3.286rem;
    height: 3.286rem;
    line-height: 3.286rem;
    text-align: center;
    font-size: 1rem;
    text-align: center; }
  .post_layout_portfolio .post_hover_rating {
    position: absolute;
    z-index: 1;
    top: 29px;
    left: 2.142rem;
    z-index: 1002;
    display: block; }
  .post_layout_portfolio .trx_addons_reviews_block_mark_value {
    color: var(--theme-color-extra_bg_color);
    width: 60px;
    height: 60px;
    line-height: 58px;
    border-width: 2px;
    font-size: 1.214rem;
    font-weight: 600; }
  .post_layout_portfolio .trx_addons_reviews_block_mark_value[data-max-value="100"]:after {
    font-size: 11px;
    line-height: 11px;
    margin: -9px -6px 0 2px;
    vertical-align: middle; }
  .post_layout_portfolio .trx_addons_reviews_block_mark canvas {
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .post_layout_portfolio .trx_addons_reviews_block_mark_content {
    border-width: 2px; }

.post_layout_portfolio.resize .post_featured {
  overflow: hidden;
  width: 100%; }

.post_layout_portfolio.resize .post_featured img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute; }
