.layernavigation-module{
	clear: both;
}
.layernavigation-module .panel{
	border: none;
	border-radius: 0;
	box-shadow: none;
	background:none;
}
.layered-navigation-block { display: none; background-color : black; height : 100%; opacity : 0.35; position : fixed; top : 0; left: 0; width : 100%; z-index : 99999; }
.ajax-loader { display: none; z-index: 1000; position: fixed; top: 50%; left: 50%; }
.layered-heading {
	font-size:16px;
	font-family: 'Roboto Slab';
    font-weight: 700;
	color:#434343;
	padding-bottom:6px;
	border-bottom:2px solid #434343;
	text-transform:uppercase;
	margin-bottom:50px;
	display:none;
}
.layer-category .list-group-item { border: 0 !important;}
.layer-category .list-group a:not(.remove-filter) { display: block; margin: 15px 0;}
.filter-attribute-container { border-bottom: 1px solid #ccc; }
.filter-attribute-container:last-child { border-bottom: 0; }
.filter-attribute-container .remove-filter { position: absolute; right: 0px; bottom: 2px; font-size: 0; width: 15px; height: 15px; padding: 0; background: url(../../../../image/remove-icon.png) no-repeat;   border: 0; }
.filter-attribute-container .remove-filter:hover { background: url(../../../../image/remove-icon.png) no-repeat; opacity: 0.5; border: 0; }
.filter-attribute-container .filter-clear-all { text-align: right; }
.filter-attribute-container .filter-clear-all .clear-filter { background: none; color: #23a1d1; }
.filter-attribute-container .filter-clear-all .clear-filter:hover { background: none; color: #2a6496; }
.filter-attribute-container.filter-attribute-remove-container .list-group-item{ margin-bottom: 0px !important;}
.filter-attribute-container.filter-price .list-group-item {
	padding: 0 12px;
}
.filter-attribute-container .list-group-item {
	background:#fff;
	padding: 20px 20px 15px;
    border: 0 !important;
    overflow: hidden;
    position: relative;
    margin-bottom: 40px !important;
	border-radius:4px;
}
.filter-attribute-container .list-group-item p {  margin: 0; }
.filter-attribute-container .list-group-item .filter-price .input-price {  width: 50px; margin: 0 0px 0 0; border: none; background: none; }
.filter-attribute-container .list-group-item .filter-price .input-price:hover { cursor: not-allowed; }
.filter-attribute-container .list-group-item .filter-price #slider-price { margin: 10px 0px 0px; border-radius: 0; }
.filter-attribute-container .list-group-item .filter-price .slider-values { padding: 5px 0; text-align: center; font-size: 14px; margin-top: 10px; color: #333333; }
.filter-attribute-container .list-group-item .filter-price .slider-values span { margin: 0 0 0 10px; }
.list-group .filter-attribute-container a { border: 0; }
.layernavigation-container h3{
    margin-bottom: 30px;
}
.layered{
    border: none;
    margin-bottom: 40px;
	padding: 0;
}
.filter-price{
	padding: 0 20px;
}
.filter-prices{
	background: none;
	margin: 0 0px 30px;
	padding: 0;
}
.layered .list-group .filter-attribute-container:last-child  .list-group-item{
	margin-bottom: 0 !important;
}
.layered .list-group{
    margin-bottom: 0px;
}
.filter-attribute-remove-container div{
    padding: 10px 0;
    font-size: 13px;
}
.filter-attribute-remove-container .filter-act-name span:hover{
    color: #67D7BB;
}
.filter-attribute-container {
    border: none;
}
.filter-attribute-container.filter-attribute-remove-container p {
	font-size:15px;
	text-transform:uppercase;
	font-weight:700;
}
.filter-attribute-remove-container .list-group-item{
	padding: 0 0 10px;
	background:none;
}
.filter-attribute-container label {
    color: #40576c;
	font-size: 22px;
	text-transform: capitalize;
	font-weight: 500;
	width: 100%;
	padding: 0;
	margin-bottom: 22px;
	line-height: 1;
}
#slider-price.ui-slider-horizontal{
    height: 5px;
}
#slider-price .ui-widget-header{
	background: #40576c;
}
#slider-price.ui-widget-content{
    background: #dbdbdb;
	box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,.08);
    border: none !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    background: #fff;
    border: none;
}
.ui-slider .ui-slider-handle{
    width: 15px;
    height: 15px;
    top: -5px;
	background:#fb9935;
	border-radius:100%;
}
.filter-attribute-container .list-group-item a:not(.remove-filter):last-child{
    background: none;
}
.filter-attribute-container .list-group-item a:not(.remove-filter):hover{
	color: #fb9935;
}
.filter-attribute-container .list-group-item a:not(.remove-filter) i{
	margin-right: 10px;
	font-size: 14px;
	margin-left: 1px;
	color: #707070;
}
.filter-attribute-container .list-group-item a:not(.remove-filter) {
	text-transform: capitalize;
	color: #333333;
	font-size:14px;
	line-height: 35px;
	padding:0;
	margin:0;
}