@media (max-width: 1279px) {
  /* Blogger */
  /* Layout: Magazine */
  .sc_blogger_news_magazine .sc_blogger_grid_wrap.sc_blogger_grid_columns_3 .sc_blogger_item:nth-child(n+2) .sc_blogger_item_title + .sc_blogger_item_meta {
    display: none; } }

@media (max-width: 1023px) {
  /* Blogger */
  /* Layout: Magazine */
  .sc_blogger_news_magazine .sc_blogger_grid_wrap.sc_blogger_grid_columns_2 .sc_blogger_item:first-child,
  .sc_blogger_news_magazine .sc_blogger_grid_wrap.sc_blogger_grid_columns_3 .sc_blogger_item:first-child {
    width: 50.5%; }
  .sc_blogger_news_magazine .sc_blogger_grid_wrap.sc_blogger_grid_columns_2 .sc_blogger_item:nth-child(n+2),
  .sc_blogger_news_magazine .sc_blogger_grid_wrap.sc_blogger_grid_columns_3 .sc_blogger_item:nth-child(n+2) {
    width: 46%;
    margin-right: 0 !important; }
  .sc_blogger_news_magazine .sc_blogger_grid_wrap.sc_blogger_grid_columns_3 .sc_blogger_item:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none; } }

@media (max-width: 767px) {
  /* Layout: Announce */
  .sc_blogger_news_announce .sc_blogger_item + .sc_blogger_item {
    margin-top: 2em; }
  .sc_blogger_news_announce .sc_blogger_grid_wrap {
    display: block; }
  /* Layout: Magazine */
  .sc_blogger_news_magazine .sc_blogger_grid_wrap:not([class*="sc_blogger_grid_columns_"]) .sc_blogger_item:first-child,
  .sc_blogger_news_magazine .sc_blogger_grid_wrap[class*="sc_blogger_grid_columns_"] .sc_blogger_item:first-child {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid #ddd; }
  .sc_blogger_news_magazine .sc_blogger_grid_wrap:not([class*="sc_blogger_grid_columns_"]) .sc_blogger_item:last-child,
  .sc_blogger_news_magazine .sc_blogger_grid_wrap[class*="sc_blogger_grid_columns_"] .sc_blogger_item:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none; }
  .sc_blogger_news_magazine .sc_blogger_grid_wrap .sc_blogger_item {
    float: none !important;
    width: 100% !important;
    margin-right: 0 !important; }
  .sc_blogger_news_magazine .sc_blogger_grid_wrap.sc_blogger_grid_columns_3 .sc_blogger_item:nth-child(n+2) .sc_blogger_item_title + .sc_blogger_item_meta {
    display: block; } }

@media (max-width: 600px) {
  /* Layout: Wide */
  .sc_blogger_item_wide,
  .sc_blogger_item_wide.sc_blogger_item_with_image .sc_blogger_item_body {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column; }
  .sc_blogger_item_wide .sc_blogger_item_header,
  .sc_blogger_item_wide .sc_blogger_item_body,
  .sc_blogger_item_wide .sc_blogger_item_featured,
  .sc_blogger_item_wide .sc_blogger_item_content {
    width: 100% !important;
    padding: 0 !important; }
  .sc_blogger_item_wide .sc_blogger_item_header {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-bottom: 1em; }
  .sc_blogger_item_wide .sc_blogger_item_body {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .sc_blogger_item_wide .sc_blogger_item_featured {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .sc_blogger_item_wide .sc_blogger_item_content {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin-top: 1.5em; } }
