.single_style_style-5 {
  /* Banners */ }
  .single_style_style-5 .page_content_wrap {
    padding-top: 0; }
  .single_style_style-5 .page_content_wrap > .content_wrap:not(:empty),
  .single_style_style-5 .page_content_wrap > .content_wrap_fullscreen {
    padding-top: 3.9em; }
  .single_style_style-5 .after_header_banner_wrap {
    margin-top: 0; }
  .single_style_style-5 .before_post_header_banner_wrap {
    margin-top: 3.05em; }
  .single_style_style-5 .after_post_header_banner_wrap {
    margin-top: 2.4em; }

.post_header_wrap_style_style-5.post_header_wrap_in_header {
  margin-top: 4em; }

.post_header_wrap_style_style-5 {
  position: relative;
  /* Featured */
  /* Featured Audio */
  /* Header */
  /* Header in content */ }
  .post_header_wrap_style_style-5 .post_featured {
    margin-top: 0;
    margin-bottom: 0; }
  .post_header_wrap_style_style-5 .post_featured.post_featured_bg {
    height: 57rem; }
  .post_header_wrap_style_style-5 .post_featured.post_featured_bg:before {
    display: none; }
  .post_header_wrap_style_style-5 .post_featured img {
    max-width: none;
    width: 100%; }
  .post_header_wrap_style_style-5 .post_audio_btn {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .post_header_wrap_style_style-5 .post_featured.with_audio.without_thumb {
    margin: 0 auto;
    max-width: 100%;
    width: var(--theme-var-page); }
  .post_header_wrap_style_style-5 .post_header {
    text-align: center;
    margin-top: 2.85em; }
  .post_header_wrap_style_style-5 .post_header .post_meta_categories {
    margin-bottom: 2.2em;
    margin-top: 0; }
  .post_header_wrap_style_style-5 .post_header .post_meta_categories .post_categories,
  .post_header_wrap_style_style-5 .post_header .post_meta_categories .post_categories a {
    color: var(--theme-color-text_link); }
  .post_header_wrap_style_style-5 .post_header .post_meta_categories .post_categories a:hover {
    color: var(--theme-color-text_dark); }
  .post_header_wrap_style_style-5 .post_header .post_meta_categories,
  .post_header_wrap_style_style-5 .post_header .post_title,
  .post_header_wrap_style_style-5 .post_header .post_subtitle {
    margin-left: auto;
    margin-right: auto;
    max-width: 60%; }
  .post_header_wrap_style_style-5 .post_header .post_subtitle {
    margin-top: 0.95em; }
  .post_header_wrap_style_style-5 .post_header .post_categories {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .post_header_wrap_style_style-5 .post_header .post_meta_other {
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    margin-top: 2.1em; }
  .post_header_wrap_style_style-5.post_header_wrap_in_header {
    margin-top: 4em; }
  .post_header_wrap_style_style-5.post_header_wrap_in_header.with_featured_image {
    margin-top: 0; }
  .post_header_wrap_style_style-5.post_header_wrap_in_content {
    margin-bottom: 3.9em; }
