@import "../../../../css/_mixins.scss";
@import "../../../../css/_theme-vars.scss";
@import "../../css/_skin-vars.scss";

.single_style_style-1  {
	.page_content_wrap {
		padding-top: 0;
	} 
	.page_content_wrap > .content_wrap:not(:empty),
	.page_content_wrap > .content_wrap_fullscreen {
		padding-top: 4em;
	}

	/* Banners */
	.after_header_banner_wrap {
	    margin-top: 0;
	}
}
.previous_post_content .post_header_wrap_style_style-1.post_header_wrap_in_header {
	margin-bottom: 4em;
}

.post_header_wrap_style_style-1 {
	margin-top: 4em;
	position: relative;

	/* Featured */
	.post_featured {
		margin-bottom: 0;
		margin-top: 0;
	}
	.post_featured.post_featured_bg {
		height: 57rem;
	}
	.post_featured.post_featured_bg:before {
		display: none;
	}
	.post_featured img {
		max-width: none;
		width: 100%;
	}
	.post_audio_btn {
		@include box(4.928rem, 4.928rem, 5.1rem);
		margin-bottom: 1.6em;
	}

	/* Featured Video */
	.post_featured .post_video_list {
		width: 100%;
	}
	.post_featured.with_video + .post_header,
	.post_featured.with_video_list + .post_header {
		margin-top: 2em;
	}
	.post_featured.post_video_play + .post_header {
		display:none;
	}
	.post_featured.with_thumb + .post_header .post_video_hover {
		margin-left: 0 !important;
	}

	/* Featured Audio */
	.post_featured.with_audio.without_thumb {
	    margin: 0 auto;
	    margin-bottom: 2.85em;
	    max-width: 100%;
	    width: var(--theme-var-page);
	}

	/* Featured Gallery */
	.post_featured.with_thumb + .post_header {
		@include abs-cb(0, 10);
		box-sizing: border-box;
		display: inline-block;
		margin-bottom: 4.65em;
	}
	.post_featured.with_gallery + .post_header {
		@include abs-cc(10); 
		box-sizing: border-box;
		display: inline-block;
	}

	/* Header */
	.post_header .post_meta_categories {
	    margin-bottom: 1.95em;
	    margin-top: 0;
	}
	.post_header .post_meta_categories .post_categories,
	.post_header .post_meta_categories .post_categories a {
		color: var(--theme-color-text_link);	
	}
	.post_header .post_meta_categories .post_categories a:hover {
		color: var(--theme-color-text_dark);	
	}
	.post_header .post_meta_categories,
	.post_header .post_title,
	.post_header .post_subtitle {
		max-width: 75%;
	}
	.post_header .post_subtitle {
		margin-top: 1.1em;
	}
	.post_header .post_meta_other {
		@include flex;
		@include flex-align-items(center);
		@include flex-direction(row);
		@include flex-justify-content(flex-start);
		@include flex-wrap(wrap);		
	    margin-top: 1.8em;
	}

	/* Post with featured image */
	&.with_featured_image {
		margin-top: 0;

		&:before {
			@include abs-cover(2);
			background: -moz-linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.53) 100%);
			background: -webkit-linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.53) 100%);
			background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.53) 100%);
			content: ' ';
			display: block;
			pointer-events: none;
		}
		.post_header a, 
		.post_header .post_title,
		.post_header .post_subtitle,
		.post_header .post_meta_item,
		.post_header a.post_author .post_author_name  {
			color: var(--theme-color-extra_link);
			@include transition-properties(color, background-color);
		}
		.post_header a:hover,
		.post_header a.post_author:hover .post_author_name {
			color: var(--theme-color-extra_hover);
		}
		.post_header .post_categories a {
			@include transition-all(0.3s, ease);
			background-color: var(--theme-color-extra_bg_color);
			color: var(--theme-color-extra_link);
			margin-left: 4px; 
		    &:not(.trx_addons_extended_taxonomy_parent_bg) {
                padding: 4.5px 15px;
                transform: skew(20deg);
            }
            &.trx_addons_extended_taxonomy_parent_bg {
                padding: 0; 
                .trx_addons_extended_taxonomy {
                    padding: 4.5px 15px; 
                }
            }
            samp {
                display: inline-block;
                transform: skew(-20deg)!important;
            }
		}
		.post_header .post_categories a:hover {
			background-color: var(--theme-color-extra_hover);
			color: var(--theme-color-extra_link);
		}
	}
}

.single-format-video .post_header_wrap_style_style-1 .post_featured.with_video .post_info_video {
	display: none;
}
.single-format-video .post_header_wrap_style_style-1 .post_featured.with_video + .post_header {
	z-index: 2001;
}