@import "../../../../css/_mixins.scss";
@import "../../../../css/_theme-vars.scss";
@import "../../css/_skin-vars.scss";

.single_style_style-12  {
	.page_content_wrap {
		padding-top: 2.7em;
	}

	/* Banners */
	.after_header_banner_wrap {
	    margin-top: 2.8em;
	}
	.content .before_post_header_banner_wrap {
	    margin-bottom: 2.7em;
	}
	.content .after_post_header_banner_wrap {
	    margin-bottom: 3em;
	}
}

.post_header_wrap_style_style-12 {
	position: relative;

	/* Featured */	
	.post_featured {
		margin-top: 0;
		margin-bottom: 1.3em;
	}
	.post_featured.post_featured_bg {
		height: 57rem;
	}
	.post_featured.post_featured_bg:before {
		display:none;
	}
	.post_featured img {
		max-width: none;
		width: 100%;
	}

	/* Header */
	&.with_featured_image .post_header:first-child,
	&.with_featured_image .before_post_header_banner_wrap + .post_header {
		margin-bottom: 2.4em;
	}
	.post_header:first-child {
		margin-bottom: 1em;
	} 
	.post_header .post_meta_categories {
	    margin-top: 0;
	    margin-bottom: 2em;
		@include flex-justify-content(center);
	}
	.post_header .post_meta_categories .post_categories,
	.post_header .post_meta_categories .post_categories a {
		color: var(--theme-color-text_link);	
	}
	.post_header .post_meta_categories .post_categories a:hover {
		color: var(--theme-color-text_dark);	
	}
	.post_header .post_subtitle {
		margin-top: 0.75em;
	}

	.post_header .post_meta_other {
		@include flex-align-items(center);
		@include flex-direction(row);
		@include flex-justify-content(space-between);
		@include flex-wrap(wrap);
		@include flex;
	}
	 .post_header .post_meta_other_part1 {
		@include flex-align-items(center);
		@include flex-direction(row);
		@include flex-justify-content(flex-start);
		@include flex-wrap(wrap);
		@include flex;
	}
	.post_header .post_meta_other_part2 {
		@include flex-align-items(baseline);
		@include flex-direction(row);
		@include flex-grow(1);
		@include flex-justify-content(flex-end);
		@include flex-wrap(wrap);
		@include flex;
	}
	.post_header .post_meta_item .post_meta_number + .post_meta_label {
	    display: inline-block;
	}

	/* Header in content */
	&.post_header_wrap_in_content {
	    padding-bottom: 1.65em;
	    margin-bottom: 2.8em;
	    border-bottom: 1px solid var(--theme-color-bd_color);
	}
}

.sidebar_hide .post_header_wrap_style_style-12 {
	/* Featured Audio */
	.post_featured.with_audio.without_thumb {
	    margin-left: auto;
	    margin-right: auto;
	    max-width: 100%;    
	    left: auto;
	    width: var(--theme-var-content_narrow);
	}
}