@import "../../../../css/_mixins.scss";
@import "../../../../css/_theme-vars.scss";
@import "../../css/_skin-vars.scss";

.single_style_style-3  {
	.page_content_wrap {
		padding-top: 2.45em;
	}
	.page_content_wrap > .content_wrap:not(:empty),
	.page_content_wrap > .content_wrap_fullscreen {
		padding-top: 2.85em;
	}

	/* Banners */
	.before_post_header_banner_wrap {
	    margin-bottom: 2.45em;
	}
	.after_post_header_banner_wrap  {
	    margin-top: 2.45em;
	}
}
.previous_post_content .post_header_wrap_style_style-3.post_header_wrap_in_header {
	margin-bottom: 4em;
}

.post_header_wrap_style_style-3 {
	position: relative;
	margin-top: 1.8em;

	/* Featured */	
	.post_featured {
		margin-top: 0;
		margin-bottom: 0;
	}
	.post_featured.post_featured_bg {
		height: 47.45rem;
	}
	.post_featured.post_featured_bg:before {
		display: none;
	}
	.post_featured img {
		max-width: none;
		width: 100%;
	}	
	.post_audio_btn {
		@include box(4.928rem, 4.928rem, 5.1rem);
		margin-bottom: 1.6em;
	}

	/* Featured Video */
	.post_featured.with_thumb.post_featured_bg.with_video:after {
	    content: '';
	    background-color: rgba(0, 0, 0, 0.51);
	    @include abs-pos;
	    display: block;
	}
	.post_featured .post_video_list {
		width: 100%;
	}
	.post_featured.post_video_play + .post_header {
		display:none;
	}

	/* Featured Audio */
	.post_featured.with_thumb .post_audio {
		bottom: 0;

		.audio_info {
			display: none;
		}
	}
	.post_featured.with_audio.without_thumb {
	    margin: 0 auto;
	    margin-bottom: 2.85em;
	    max-width: 100%;
	    width: var(--theme-var-page);
	}

	/* Featured Gallery */
	.post_featured.with_thumb + .post_header,
	.post_featured.with_gallery + .post_header {
		display: inline-block;   
		@include abs-cc(10);
		box-sizing: border-box;
	}

	/* Header */
	.post_featured.with_thumb + .post_header,  
	.post_featured.with_gallery + .post_header {
	    max-width: 70%;
    	width: 100%;
	}
	.post_header {
		text-align: center;
	}
	.post_header .post_meta_categories {
	    margin-bottom: 1.95em;
	    margin-top: 0;
	}
	.post_header .post_subtitle {
		margin-top: 1.1em;
	}
	.post_header .post_meta_other {
		@include flex-align-items(center);
		@include flex-direction(row);
		@include flex-justify-content(center);
		@include flex-wrap(wrap);
		@include flex;
		margin-top: 1.65em;
	}
	.post_header .post_audio_btn {
		margin-left: auto;
		margin-right: auto;
	}
	.post_header .post_categories {
		justify-content: center;
	}

	/* Post with featured image*/
	&.with_featured_image {
		margin-top: 0;

		& > .content_wrap:before {
			content: ' ';
			display: block;
			@include abs-cover(2);
			pointer-events: none;
			background: rgba(0,0,0,0.5);
		}
		.post_header a,
		.post_header .post_title,
		.post_header .post_subtitle,
		.post_header .post_meta_item,
		.post_header a.post_author .post_author_name  {
			color: var(--theme-color-extra_link);
			@include transition-properties(color, background-color);
		}
		.post_header a:hover,
		.post_header a.post_author:hover .post_author_name {
			color: var(--theme-color-extra_hover);
		}
		.post_header .post_categories a {
			background-color: var(--theme-color-extra_bg_color);
			@include transition-all(0.3s, ease);
			
			&:not(.trx_addons_extended_taxonomy_parent_bg) {
                padding: 4.5px 15px;
                transform: skew(20deg);
            }
            &.trx_addons_extended_taxonomy_parent_bg {
                padding: 0; 
                .trx_addons_extended_taxonomy {
                    padding: 4.5px 15px; 
                }
            }
            samp {
                display: inline-block;
                transform: skew(-20deg)!important;
            }
		}
		.post_header .post_categories a:hover {
			color: var(--theme-color-extra_link);
			background-color: var(--theme-color-extra_hover);
		}
	}
}

.single-format-video .post_header_wrap_style_style-3 .post_featured.with_video .post_info_video {
	display: none;
}
.single-format-video .post_header_wrap_style_style-3 .post_featured.with_video + .post_header {
	z-index: 2001;
}

