@media (max-width: 1023px) {
  /* Banner */
  .sidebar_present .post_header_wrap_style_style-8.with_featured_image + .content_wrap .content .before_post_header_banner_wrap {
    margin-top: 0; } }

@media (max-width: 767px) {
  .post_header_wrap_style_style-8 {
    margin-bottom: 2em; }
  .post_header_wrap_style_style-8 .post_header .post_meta_other {
    display: block; }
  .post_header_wrap_style_style-8 .post_header .post_meta_other_part1,
  .post_header_wrap_style_style-8 .post_header .post_meta_other_part2 {
    display: inline; }
  .post_header_wrap_style_style-8 .post_header .post_meta_other_part1 {
    margin-right: 0.8em; }
  .post_header_wrap_style_style-8 .post_header .post_meta_categories {
    margin-bottom: 1.2em; }
  .sidebar_show .post_header_wrap_style_style-8 .post_header .post_meta_other .post_meta_item.post_share {
    margin-top: 5px; } }

@media (max-width: 479px) {
  .post_header_wrap_style_style-8 .post_featured.with_audio.without_thumb .post_audio:not(.with_iframe) {
    padding: 20px; }
    .post_header_wrap_style_style-8 .post_featured.with_audio.without_thumb .post_audio:not(.with_iframe) .mejs-horizontal-volume-slider {
      display: none !important; } }
