.single_style_style-6 {
  /* Banners */ }
  .single_style_style-6 .page_content_wrap {
    padding-top: 2.7em; }
  .single_style_style-6 .after_header_banner_wrap {
    margin-top: 2.8em; }
  .single_style_style-6 .before_post_header_banner_wrap {
    margin-bottom: 2.45em; }

.post_header_wrap_style_style-6 {
  position: relative;
  /* Featured */
  /* Featured Audio */
  /* Header */
  /* Header in content */ }
  .post_header_wrap_style_style-6 .post_featured {
    margin-top: 0;
    margin-bottom: 1.25em; }
  .post_header_wrap_style_style-6 .post_featured.post_featured_bg {
    height: 57rem; }
  .post_header_wrap_style_style-6 .post_featured.post_featured_bg:before {
    display: none; }
  .post_header_wrap_style_style-6 .post_featured img {
    max-width: none;
    width: 100%; }
  .post_header_wrap_style_style-6 .post_audio_btn {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 3; }
  .post_header_wrap_style_style-6 .post_featured.with_audio.without_thumb {
    margin: 0 auto;
    margin-bottom: 1.3em;
    max-width: 100%;
    width: var(--theme-var-page); }
  .post_header_wrap_style_style-6.with_featured_image .post_header:first-child,
  .post_header_wrap_style_style-6.with_featured_image .before_post_header_banner_wrap + .post_header {
    margin-bottom: 2.4em; }
  .post_header_wrap_style_style-6 .post_header {
    text-align: center;
    margin-bottom: 1em; }
  .post_header_wrap_style_style-6 .post_header .post_meta_categories {
    margin-top: 0;
    margin-bottom: 1.9em; }
  .post_header_wrap_style_style-6 .post_header .post_meta_categories .post_categories,
  .post_header_wrap_style_style-6 .post_header .post_meta_categories .post_categories a {
    color: var(--theme-color-text_link); }
  .post_header_wrap_style_style-6 .post_header .post_meta_categories .post_categories a:hover {
    color: var(--theme-color-text_dark); }
  .post_header_wrap_style_style-6 .post_header .post_meta_categories,
  .post_header_wrap_style_style-6 .post_header .post_title,
  .post_header_wrap_style_style-6 .post_header .post_subtitle {
    margin-right: auto;
    margin-left: auto;
    max-width: 55%; }
  .post_header_wrap_style_style-6 .post_header .post_subtitle {
    margin-top: 1.1em; }
  .post_header_wrap_style_style-6 .post_header .post_categories {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .post_header_wrap_style_style-6 .post_header .post_meta_other {
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex; }
  .post_header_wrap_style_style-6 .post_header .post_meta_other_part1 {
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex; }
  .post_header_wrap_style_style-6 .post_header .post_meta_other_part2 {
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex; }
  .post_header_wrap_style_style-6 .post_header .post_meta_item .post_meta_number + .post_meta_label {
    display: inline-block; }
  .post_header_wrap_style_style-6.post_header_wrap_in_content {
    padding-bottom: 1.65em;
    margin-bottom: 2.5em;
    border-bottom: 1px solid var(--theme-color-bd_color); }
  .post_header_wrap_style_style-6.post_header_wrap_in_content .post_header {
    text-align: left;
    margin-bottom: 0; }
