@import "../../../../css/_mixins.scss";
@import "../../../../css/_theme-vars.scss";
@import "../../css/_skin-vars.scss";

.single_style_style-10  {
	.page_content_wrap {
		padding-top: 2.45em;
	} 

	/* Banners */
	.after_header_banner_wrap {
	    margin-top: 3.7em;
	}
	.content .before_post_header_banner_wrap {
	    margin-bottom: 2.45em;
	}
	.content .after_post_header_banner_wrap {
	    margin-top: 2.1em;    
	    margin-bottom: 0;
	}
} 
.sidebar_show.single_style_style-10 .page_content_wrap {
    padding-top: 3.55em;
}

.post_header_wrap_style_style-10 {
    margin-bottom: 2.8em;

	/* Featured */	
	.post_featured {
		margin-top: 0;
		margin-bottom: 2.65em;
	}
	.post_featured.post_featured_bg {
		height: 57rem;
	}
	.post_featured.post_featured_bg:before {
		display: none;
	}
	.post_featured img {
		max-width: none;
		width: 100%;
	}

	/* Header */
	.post_header .post_subtitle {
		margin-top: 0.8em;
	}
	.post_header .post_meta_categories {
		margin-bottom: 2.1em;
	    margin-top: 0;
	}
	.post_header .post_meta_categories .post_categories,
	.post_header .post_meta_categories .post_categories a {
		color: var(--theme-color-text_link);	
	}
	.post_header .post_meta_categories .post_categories a:hover {
		color: var(--theme-color-text_dark);	
	}

	.post_header .post_meta_other {
		@include flex-align-items(center);
		@include flex-direction(row);
		@include flex-justify-content(space-between);
		@include flex-wrap(nowrap);
		@include flex;
	    border-top: 1px solid var(--theme-color-bd_color);    
	    margin-top: 1.55em;
    	padding-top: 1em;
	}
	 .post_header .post_meta_other_part1 {
		@include flex-align-items(center);
		@include flex-direction(row);
		@include flex-justify-content(flex-start);
		@include flex-wrap(wrap);
		@include flex;
	}
	.post_header .post_meta_other_part2 {
		@include flex-align-items(center);
		@include flex-direction(row);
		@include flex-grow(1);
		@include flex-justify-content(flex-end);
		@include flex-wrap(nowrap);
		@include flex;
	}
	.post_header .post_meta_item .post_meta_number + .post_meta_label {
	    display: inline-block;
	}

	/* Header in content */
	&.post_header_wrap_in_header {
		margin-top: 4em;
	}
	&.post_header_wrap_in_header.with_featured_image {
		margin-top: 0;
	}
}

.sidebar_hide .post_header_wrap_style_style-10 {
	/* Featured Audio */
	.post_featured.with_audio.without_thumb {
	    margin-left: auto;
	    margin-right: auto;
	    max-width: 100%;    
	    left: auto;
	    width: var(--theme-var-content_narrow);
	}
}
