/* Video list's styles */
.trx_addons_video_list {
  position: relative;
  text-align: left; }

.trx_addons_video_list_video_wrap {
  position: relative;
  -webkit-transition: height 0.3s ease;
  -ms-transition: height 0.3s ease;
  -o-transition: height 0.3s ease;
  transition: height 0.3s ease; }
  .trx_addons_video_list_video_wrap .trx_addons_video_player {
    background-color: #000; }
    .trx_addons_video_list_video_wrap .trx_addons_video_player .video_frame .video_frame_overlay,
    .trx_addons_video_list_video_wrap .trx_addons_video_player .video_frame .video_frame_controls {
      display: none !important; }
    .trx_addons_video_list_video_wrap .trx_addons_video_player .video_frame .wp-video {
      width: unset !important; }
  .trx_addons_video_list_video_wrap .trx_addons_video_player.with_cover .video_mask {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.13) 50%, rgba(0, 0, 0, 0.25) 66%, rgba(0, 0, 0, 0.75) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.13) 50%, rgba(0, 0, 0, 0.25) 66%, rgba(0, 0, 0, 0.75) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.13)), color-stop(66%, rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.75)));
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.13) 50%, rgba(0, 0, 0, 0.25) 66%, rgba(0, 0, 0, 0.75) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.13) 50%, rgba(0, 0, 0, 0.25) 66%, rgba(0, 0, 0, 0.75) 100%);
    opacity: 1; }
  .trx_addons_video_list_video_wrap .trx_addons_video_player.with_cover .video_hover {
    margin: 0 !important;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .trx_addons_video_list_video_wrap .trx_addons_video_list_title_wrap {
    position: absolute;
    z-index: 100;
    bottom: 2em;
    left: 2em;
    max-width: calc(66.6667% - 4em);
    display: none; }
    .trx_addons_video_list_video_wrap .trx_addons_video_list_title_wrap .trx_addons_video_list_subtitle {
      color: #fff; }
    .trx_addons_video_list_video_wrap .trx_addons_video_list_title_wrap .trx_addons_video_list_title {
      margin: 0;
      color: #fff; }
    .trx_addons_video_list_video_wrap .trx_addons_video_list_title_wrap a, .trx_addons_video_list_video_wrap .trx_addons_video_list_title_wrap a:hover,
    .trx_addons_video_list_video_wrap .trx_addons_video_list_title_wrap .trx_addons_video_list_meta {
      color: #fff; }
  .trx_addons_video_list_video_wrap .trx_addons_video_player.with_cover:not(.video_play) + .trx_addons_video_list_title_wrap {
    display: block; }
  .trx_addons_video_list_video_wrap .trx_addons_video_player.with_cover > img {
    -webkit-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease; }
  .trx_addons_video_list_video_wrap .trx_addons_video_player.with_cover.video_play > img {
    opacity: 0; }

.trx_addons_video_list_controller_wrap .trx_addons_video_list_controller_item {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  -webkit-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease; }
  .trx_addons_video_list_controller_wrap .trx_addons_video_list_controller_item .trx_addons_video_list_controller_item_link {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block; }

.trx_addons_video_list_controller_wrap .trx_addons_video_list_controller_item_active {
  background-color: #f0f0f0; }

.trx_addons_video_list_controller_wrap .trx_addons_video_list_controller_item:hover {
  background-color: #f7f7f7; }

.trx_addons_video_list_controller_wrap .trx_addons_video_list_image {
  display: inline-block;
  vertical-align: middle;
  width: 25%;
  position: relative; }
  .trx_addons_video_list_controller_wrap .trx_addons_video_list_image .trx_addons_video_list_image_label {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    padding: 0.5em;
    color: #fff;
    opacity: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 16px;
    font-weight: bold;
    -webkit-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease; }

.trx_addons_video_list_controller_wrap .trx_addons_video_list_controller_item_active .trx_addons_video_list_image_label {
  opacity: 1; }

.trx_addons_video_list_controller_wrap .trx_addons_video_list_image + .trx_addons_video_list_info {
  padding-left: 1em;
  display: inline-block;
  vertical-align: middle;
  width: 75%;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.trx_addons_video_list_controller_wrap .trx_addons_video_list_title {
  margin: 0;
  font-size: 1.15em;
  line-height: 1.4em; }

.trx_addons_video_list_controller_wrap .trx_addons_video_list_meta {
  font-size: 0.9286em;
  line-height: 1.5em;
  color: #888; }

.trx_addons_video_list_controller_right .trx_addons_video_list_video_wrap {
  padding-right: 33.3333%; }

.trx_addons_video_list_controller_right .trx_addons_video_list_controller_wrap {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 33.3333%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto; }
  .trx_addons_video_list_controller_right .trx_addons_video_list_controller_wrap .trx_addons_video_list_controller_item {
    padding: 1em 1em 1em 2em; }

.trx_addons_video_list_controller_left .trx_addons_video_list_video_wrap {
  padding-left: 33.3333%; }

.trx_addons_video_list_controller_left .trx_addons_video_list_title_wrap {
  left: calc(33.3333% + 2em); }

.trx_addons_video_list_controller_left .trx_addons_video_list_controller_wrap {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 33.3333%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto; }
  .trx_addons_video_list_controller_left .trx_addons_video_list_controller_wrap .trx_addons_video_list_controller_item {
    padding: 1em 2em 1em 1em; }

.trx_addons_video_list_controller_bottom .trx_addons_video_list_controller_wrap {
  min-height: 10em;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap; }
  .trx_addons_video_list_controller_bottom .trx_addons_video_list_controller_wrap .trx_addons_video_list_controller_item {
    display: inline-block;
    vertical-align: top;
    width: 33.3333%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2em;
    white-space: normal; }
  .trx_addons_video_list_controller_bottom .trx_addons_video_list_controller_wrap .trx_addons_video_list_image {
    vertical-align: top; }
  .trx_addons_video_list_controller_bottom .trx_addons_video_list_controller_wrap .trx_addons_video_list_image + .trx_addons_video_list_info {
    vertical-align: top; }
    .trx_addons_video_list_controller_bottom .trx_addons_video_list_controller_wrap .trx_addons_video_list_image + .trx_addons_video_list_info .trx_addons_video_list_subtitle,
    .trx_addons_video_list_controller_bottom .trx_addons_video_list_controller_wrap .trx_addons_video_list_image + .trx_addons_video_list_info .trx_addons_video_list_title:first-child {
      margin-top: -0.5em; }
